@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700;800;900&family=Roboto+Slab:wght@400;500;700;900&family=Rubik:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* general */
.txt-fff {
    color: #fff;
}

/* home */
.home-container {
    background-image: url("/images/banner-bg.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* about */

/* skills */

/* projects */

/* contact */